-# in app/views/movies/similars.html.haml

%h2 Similars to #{@movie.title}

%table#similar_movies
  %thead
    %tr
      %th Movie Title
  %tbody
    - @similar_movies.each do |similar|
      %tr
        %td= similar.title
  